//ЦВЕТА САЙТА
$color-black: #000000;
$color-disabled: #848484;
$color-gray: #111111;
$color-light-gray: #1d1d1d;

///Dominant
$color-white: #ffffff;
$color-backgroundHTML: #121212;
$color-background: #191919;
$color-background-5: #1a1a1a;
$color-background-10: #222222;
$color-background-20: #2c2c2c;
///White
$color-white-100: #e9e9f3;
$color-white-90: #e9e9f3e5;
$color-white-80: #e9e9f333;
$color-white-70: #e9e9f3b2;
$color-white-60: #e9e9f399;
$color-white-50: #e9e9f380;
$color-white-40: #e9e9f366;
$color-white-30: #e9e9f34d;
$color-white-20: #e9e9f333;
$color-white-10: #e9e9f31a;
$color-white-5: #e9e9f30d;
$color-white-3: #e9e9f308;
$color-white-1: #e9e9f303;
//Primary
$color-primary: #f3c472;
$color-primary-120: #ffe3b0;
$color-primary-110: #fcd48d;
$color-primary-80: #a2834e;
$color-primary-10: #3f3525;
//Secondary
$color-Secondary: #106468;
$color-Secondary-120: #7ed5d8;
$color-Secondary-110: #4da8ab;
$color-Secondary-80: #104648;
$color-Secondary-10: #082f30;

//ТИПОГРАФИКА
$h0: 64px;
$h1: 40px;
$h2: 34px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 12px;
$p1: 16px;
$p2: 14px;
$p3: 12px;
$p4: 10px;

//ОТСТУПЫ
$space-14: 14px;
$space-32: 32px;
$space-48: 48px;
$space-64: 64px;
$space-72: 72px;

$space-6: 6px;
$space-5: 5px;

$space-4: 4px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-24: 24px;
$space-30: 30px;
$space-36: 36px;
$space-40: 40px;
$space-54: 54px;
$space-84: 84px;
$space-124: 124px;

//РАДИУСЫ
$radius-24: 24px;
$radius-18: 18px;
$radius-16: 16px;
$radius-12: 12px;
$radius-8: 8px;
$radius-4: 4px;

//Z-index
$z-index-mobile-filter: 1120;
$z-index-mobile-navbar: 1110;
$z-index-mobile-menu: 1100;
$z-index-search-widget: 1120;
$z-index-modals: 1110;
$z-index-header: 1100;
$z-index-default: 110;
