@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-SemiBold.otf')
    format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('../../../public/font/Bounded/Bounded-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
